<?xml version="1.0" encoding="UTF-8"?>

<web-app
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://xmlns.jcp.org/xml/ns/javaee"
    xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
    version="3.1">

    <display-name>OSIVIA Portal</display-name>
    <description>OSIVIA Portal Tomcat 8 web application.</description>


    <servlet>
        <servlet-name>ContainerServlet</servlet-name>
        <servlet-class>org.osivia.portal.kernel.tomcat.TomcatContainerServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    
   
   <listener>
      <listener-class>org.jboss.portal.common.mc.bootstrap.WebBootstrap</listener-class>
   </listener>

    
    <jsp-config>
        <taglib>
            <taglib-uri>portal</taglib-uri>
            <taglib-location>/WEB-INF/tld/portal.tld</taglib-location>
        </taglib>
    </jsp-config>

</web-app>
