<?xml version="1.0" encoding="UTF-8"?>

<web-app
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://xmlns.jcp.org/xml/ns/javaee"
    xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
    version="3.1">

    <display-name>OSIVIA Portal</display-name>
    <description>OSIVIA Portal Tomcat 8 web application.</description>


    <servlet>
        <servlet-name>ContainerServlet</servlet-name>
        <servlet-class>org.osivia.portal.kernel.tomcat.TomcatContainerServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    
 
    
    <jsp-config>
        <taglib>
            <taglib-uri>portal</taglib-uri>
            <taglib-location>/WEB-INF/tld/portal.tld</taglib-location>
        </taglib>
    </jsp-config>
    
   <!--   Session listener to kill all sub-sessions -->
   

   <listener>
      <listener-class>org.jboss.portal.server.listener.SessionListener</listener-class>
   </listener>  
   
   <servlet>
      <servlet-name>PortalServletWithPathMapping</servlet-name>
      <servlet-class>org.jboss.portal.server.servlet.PortalServlet</servlet-class>
      <init-param>
         <param-name>asDefaultServlet</param-name>
         <param-value>false</param-value>
         <description>The servlet needs to know wether it is set as a default servlet or not</description>
      </init-param>
      <init-param>
         <param-name>controllerFactoryName</param-name>
         <param-value>portal:service=ControllerFactory</param-value>
         <description>The request controller factory for the portal servlet</description>
      </init-param>
      <load-on-startup>0</load-on-startup>
      <security-role-ref>
        <role-name>Authenticated</role-name>
        <role-link>Authenticated</role-link>
      </security-role-ref>
   </servlet>

 
   <servlet>
      <servlet-name>PortalServletWithDefaultServletMapping</servlet-name>
      <servlet-class>org.jboss.portal.server.servlet.PortalServlet</servlet-class>
      <init-param>
         <param-name>asDefaultServlet</param-name>
         <param-value>true</param-value>
         <description>The servlet needs to know wether it is set as a default servlet or not</description>
      </init-param>
      <init-param>
         <param-name>controllerFactoryName</param-name>
         <param-value>portal:service=ControllerFactory</param-value>
         <description>The request controller factory for the portal servlet</description>
      </init-param>
      <load-on-startup>0</load-on-startup>
      <security-role-ref>
        <role-name>Authenticated</role-name>
        <role-link>Authenticated</role-link>
      </security-role-ref>
   </servlet>


   <servlet-mapping>
      <servlet-name>PortalServletWithPathMapping</servlet-name>
      <url-pattern>/*</url-pattern>
   </servlet-mapping>



   <servlet-mapping>
      <servlet-name>PortalServletWithPathMapping</servlet-name>
      <url-pattern>/auth/*</url-pattern>
   </servlet-mapping>

	<!-- prevent insertion of jsessionid into urls -->
    <session-config>
    	<tracking-mode>COOKIE</tracking-mode>
 	</session-config> 

</web-app>
