<?xml version="1.0" encoding="UTF-8"?>

<web-app
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://xmlns.jcp.org/xml/ns/javaee"
    xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
    version="3.1">

    <display-name>OSIVIA Portal</display-name>
    <description>OSIVIA Portal Tomcat 8 web application.</description>


    <servlet>
        <servlet-name>ContainerServlet</servlet-name>
        <servlet-class>org.osivia.portal.kernel.tomcat.TomcatContainerServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    
 
    
    <jsp-config>
        <taglib>
            <taglib-uri>portal</taglib-uri>
            <taglib-location>/WEB-INF/tld/portal.tld</taglib-location>
        </taglib>
    </jsp-config>
    
   <!--   Session listener to kill all sub-sessions -->
   

   <listener>
      <listener-class>org.jboss.portal.server.listener.SessionListener</listener-class>
   </listener>  
      <!--   CMS listener to kill all CMS sessions -->
   <listener>
      <listener-class>org.osivia.portal.core.cms.sessions.SessionListener</listener-class>
   </listener>
   <servlet>
      <servlet-name>PortalServletWithPathMapping</servlet-name>
      <servlet-class>org.jboss.portal.server.servlet.PortalServlet</servlet-class>
      <init-param>
         <param-name>asDefaultServlet</param-name>
         <param-value>false</param-value>
         <description>The servlet needs to know wether it is set as a default servlet or not</description>
      </init-param>
      <init-param>
         <param-name>controllerFactoryName</param-name>
         <param-value>portal:service=ControllerFactory</param-value>
         <description>The request controller factory for the portal servlet</description>
      </init-param>
      <load-on-startup>0</load-on-startup>
      <security-role-ref>
        <role-name>members</role-name>
        <role-link>members</role-link>
      </security-role-ref>
   </servlet>

 
   <servlet>
      <servlet-name>PortalServletWithDefaultServletMapping</servlet-name>
      <servlet-class>org.jboss.portal.server.servlet.PortalServlet</servlet-class>
      <init-param>
         <param-name>asDefaultServlet</param-name>
         <param-value>true</param-value>
         <description>The servlet needs to know wether it is set as a default servlet or not</description>
      </init-param>
      <init-param>
         <param-name>controllerFactoryName</param-name>
         <param-value>portal:service=ControllerFactory</param-value>
         <description>The request controller factory for the portal servlet</description>
      </init-param>
      <load-on-startup>0</load-on-startup>
      <security-role-ref>
        <role-name>members</role-name>
        <role-link>members</role-link>
      </security-role-ref>
   </servlet>


   <servlet-mapping>
      <servlet-name>PortalServletWithPathMapping</servlet-name>
      <url-pattern>/*</url-pattern>
   </servlet-mapping>



   <servlet-mapping>
      <servlet-name>PortalServletWithPathMapping</servlet-name>
      <url-pattern>/auth/*</url-pattern>
   </servlet-mapping>


   <!-- Force the mapping of the jsp and images because of the default servlet replacement -->
   <servlet-mapping>
      <servlet-name>jsp</servlet-name>
      <url-pattern>/login/login.jsp</url-pattern>
   </servlet-mapping>
   
   <servlet-mapping>
      <servlet-name>jsp</servlet-name>
      <url-pattern>/login/error.jsp</url-pattern>
   </servlet-mapping>

	<!-- prevent insertion of jsessionid into urls -->
    <session-config>
    	<tracking-mode>COOKIE</tracking-mode>
 	</session-config> 


	<security-constraint>
      <display-name>Security Constraint</display-name>
      <web-resource-collection>
         <web-resource-name>Protected Area - Allow methods</web-resource-name>
         <!-- Define the context-relative URL(s) to be protected -->
         <url-pattern>/auth/*</url-pattern>

      </web-resource-collection>
      
      <auth-constraint>
         <!-- Anyone with one of the listed roles may access this area -->
         <role-name>members</role-name>
      </auth-constraint>
    </security-constraint>

    <!-- Default login configuration uses form-based authentication -->
    <login-config>
      <auth-method>FORM</auth-method>
      <realm-name>Example Form-Based Authentication Area</realm-name>
      <form-login-config>
        <form-login-page>/login/login.jsp</form-login-page>
        <form-error-page>/login/error.jsp</form-error-page>
      </form-login-config>
    </login-config>

    <!-- Security roles referenced by this web application -->

    <security-role>
      <role-name>members</role-name>
    </security-role>

	<filter>
	    <filter-name>monitoring</filter-name>
	    <filter-class>net.bull.javamelody.AdaptedMonitoringFilter</filter-class>
	</filter>
	<filter-mapping>
	    <filter-name>monitoring</filter-name>
	    <url-pattern>/*</url-pattern>
	</filter-mapping>
	<listener>
	    <listener-class>net.bull.javamelody.SessionListener</listener-class>
	</listener>

</web-app>
