<?xml version="1.0" encoding="UTF-8"?>


<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
   
    <!-- Server configuration service -->
   <bean class="org.jboss.portal.server.config.ServerConfigService" id="portal:service=ServerConfig" >
       <property name="ConfigLocation" value="conf/config.xml" />
   </bean>
   
   <!-- DTD repository -->
   <bean class="org.jboss.portal.server.impl.xml.EntityResolverService" id="portal:service=EntityResolver"
           >
      
      <property name="DTDMapping">
         <props>
            <prop key="-//JBoss Portal//DTD JBoss Portlet 2.6//EN">dtd/jboss-portlet_2_6.dtd</prop>
            <prop key="-//JBoss Portal//DTD JBoss App 2.6//EN">dtd/jboss-app_2_6.dtd</prop>
            <prop key="-//JBoss Portal//DTD Portal Object 2.6//EN">dtd/portal-object_2_6.dtd</prop>
            <prop key="-//JBoss Portal//DTD Portlet Instances 2.6//EN">dtd/portlet-instances_2_6.dtd</prop>
         </props>
      </property>
   </bean>
   
	<!-- Server stack -->
   <bean class="org.jboss.portal.server.aspects.server.SessionLockInterceptor"
          id="portal:service=Interceptor,type=Server,name=SessionLock" >
      
   </bean>

   <bean class="org.jboss.portal.core.impl.api.user.UserEventBridgeTriggerInterceptor"
          id="portal:service=Interceptor,type=Server,name=UserEvent" >
      
   </bean>
   <bean class="org.jboss.portal.server.aspects.server.SignOutInterceptor"
          id="portal:service=Interceptor,type=Server,name=SessionInvalidator" >
     <property name="ServletContainerFactory" ref="ServletContainerFactory"/>
   </bean>
   <bean class="org.jboss.portal.core.aspects.server.UserInterceptor"
          id="portal:service=Interceptor,type=Server,name=User" >
      <property name="CacheUser" value="true"/>
      <!-- <depends>portal:service=Module,type=IdentityServiceController</depends> -->
   </bean>
   <bean class="org.jboss.portal.core.aspects.server.LocaleInterceptor"
          id="portal:service=Interceptor,type=Server,name=Locale" >
      
   </bean>
   <bean class="org.jboss.portal.core.aspects.server.PortalContextPathInterceptor"
          id="portal:service=Interceptor,type=Server,name=PortalContextPath" >
      
   </bean>
   <bean class="org.jboss.portal.server.aspects.server.ContentTypeInterceptor"
          id="portal:service=Interceptor,type=Server,name=ContentType" >
   </bean>

	<bean class="org.osivia.portal.core.tracker.ServerTrackerInterceptor"
		id="osivia:service=Interceptor,type=Server,name=ServerTracker">
		<property name="Tracker" ref="osivia:service=Tracker"/>
	</bean>



   <bean class="org.jboss.portal.server.impl.invocation.JBossInterceptorStackFactory"
          id="portal:service=InterceptorStackFactory,type=Server" >
     <property name="InterceptorNames">
      	<list>
           <value>portal:service=Interceptor,type=Server,name=SessionLock</value>
           <!-- <value>portal:service=Interceptor,type=Server,name=IdentityCache</value> -->
           <value>portal:service=Interceptor,type=Server,name=UserEvent</value>
           <value>portal:service=Interceptor,type=Server,name=SessionInvalidator</value>
           <value>portal:service=Interceptor,type=Server,name=User</value>
           <value>portal:service=Interceptor,type=Server,name=Locale</value>
           <value>portal:service=Interceptor,type=Server,name=PortalContextPath</value>
           <value>portal:service=Interceptor,type=Server,name=ContentType</value>
			<value>osivia:service=Interceptor,type=Server,name=ServerTracker</value>            
		 </list>
      </property>
   </bean>


   
   
     <!-- Instance stack -->
   <bean class="org.jboss.portal.portlet.aspects.portlet.ConsumerCacheInterceptor"
          id="portal:service=Interceptor,type=Portlet,name=ConsumerCache" >
      
   </bean>
   <bean class="org.jboss.portal.core.model.instance.InstanceSecurityInterceptor"
          id="portal:service=Interceptor,type=Portlet,name=InstanceSecurity" >
<!--       
      <property name="PortalAuthorizationManagerFactory" ref="portal:service=PortalAuthorizationManagerFactory"/>
-->
   </bean>
   <bean class="org.osivia.portal.core.portlets.interceptors.ParametresPortletInterceptor"
          id="osivia:service=Interceptor,type=Portlet,name=ParametresPortletInterceptor" >
   </bean>
   
   
   <bean class="org.jboss.portal.portlet.aspects.portlet.PortalSessionSynchronizationInterceptor"
          id="portal:service=Interceptor,type=Portlet,name=PortalSessionSynchronization" >
      
   </bean>
   <bean class="org.jboss.portal.core.model.instance.InstanceInvoker"
          id="portal:service=Interceptor,type=Portlet,name=InstanceInvoker" >
         <property name="PortletInvoker" ref="portal:service=PortletInvoker,type=Federating"/>
      
   </bean>


   <bean class="org.jboss.portal.portlet.impl.invocation.JBossPortletInterceptorStackFactory"
          id="portal:service=InterceptorStackFactory,type=Instance" >
      
      <property name="interceptors">
	     <list>
			 <ref bean="portal:service=Interceptor,type=Portlet,name=ConsumerCache"/>
			 <ref bean="osivia:service=Interceptor,type=Portlet,name=ParametresPortletInterceptor"/>
			 
<!-- 			 
			 <ref bean="portal:service=Interceptor,type=Portlet,name=InstanceSecurity"/>
-->			 
			 <ref bean="portal:service=Interceptor,type=Portlet,name=PortalSessionSynchronization"/>
			 <ref bean="portal:service=Interceptor,type=Portlet,name=InstanceInvoker"/>
		 </list>
      </property>
   </bean>



	<bean class="org.osivia.portal.core.tracker.TrackerService" name="osivia:service=Tracker"></bean>


	<bean class="org.osivia.portal.core.tracker.CommandTrackerInterceptor"
		id="osivia:service=Interceptor,type=Command,name=CommandTracker">
		<property name="Tracker" ref="osivia:service=Tracker"/>
	</bean>


	<bean
		class="org.jboss.portal.core.aspects.controller.ResourceAcquisitionInterceptor"
		id="portal:service=Interceptor,type=Command,name=ResourceAcquisition">

	</bean>

	<bean class="org.jboss.portal.core.controller.ajax.AjaxInterceptor"
		id="portal:service=Interceptor,type=Command,name=Ajax">
	</bean>



	<bean
		class="org.jboss.portal.core.aspects.controller.NavigationalStateInterceptor"
		id="portal:service=Interceptor,type=Command,name=NavigationalState">

	</bean>
   
   <bean class="org.jboss.portal.server.impl.invocation.JBossInterceptorStackFactory"
          id="portal:service=InterceptorStackFactory,type=Command" >
      
     <property name="InterceptorNames">
      	<list>
     	 <value>osivia:service=Interceptor,type=Command,name=CommandTracker</value>
         <value>portal:service=Interceptor,type=Command,name=ResourceAcquisition</value>
         <value>portal:service=Interceptor,type=Command,name=Ajax</value>
         <value>portal:service=Interceptor,type=Command,name=NavigationalState</value>
<!--          
         <ref bean="portal:service=Interceptor,type=Command,name=Control"/>
         <ref bean="portal:service=Interceptor,type=Command,name=BackwardCompatibility"/>
         <ref bean="portal:service=Interceptor,type=Command,name=PortalNode"/>
         <ref bean="portal:service=Interceptor,type=Command,name=PolicyEnforcement"/>
         <ref bean="portal:service=Interceptor,type=Command,name=PageCustomizer"/>
         <ref bean="portal:service=Interceptor,type=Command,name=EventBroadcaster"/>
-->         
         </list>
      </property>
   </bean>
   
   
   
   
   
   
   
   <bean class="org.jboss.portal.theme.impl.ThemeServiceImpl" id="portal:service=ThemeService" >
      
      <property name="DefaultThemeName" value="renewal"/>
   </bean>   
      <bean class="org.jboss.portal.theme.impl.LayoutServiceImpl" id="portal:service=LayoutService" >
      
      <property name="DefaultLayoutName" value="generic"/>
      <property name="DefaultRenderSetName" value="divRenderer"/>
   </bean>
   
    <bean class="org.jboss.portal.theme.impl.PageServiceImpl" id="portal:service=PageService" >
      <property name="LayoutService" ref="portal:service=LayoutService"/>
      <property name="ThemeService" ref="portal:service=ThemeService"/>
   </bean>


    <bean class="org.osivia.portal.core.layouts.DynamicLayoutService" id="portal:service=DynamicLayoutService" >
   </bean>

   <!-- The different containers -->

   <bean class="org.osivia.portal.jpb.services.InstanceContainerContextImpl"
          id="portal:service=InstanceContainerContext">
   </bean>


   <bean class="org.osivia.portal.jpb.services.InstanceContainerImpl" id="portal:container=Instance">
     
      <property name="ContainerContext" ref="portal:service=InstanceContainerContext"/>
      <property name="StackFactory" ref="portal:service=InterceptorStackFactory,type=Instance"/>
     <property name="PortletInvoker" ref="portal:service=PortletInvoker,type=Federating"/>
<!--       
      <property name="PortalAuthorizationManagerFactory" ref="portal:service=PortalAuthorizationManagerFactory"/>
      <property name="AuthorizationDomainRegistry" ref="portal:service=AuthorizationDomainRegistry"/>
-->  
   </bean>




    <bean class="org.osivia.portal.core.portalobjects.DynamicPortalObjectContainer"
          id="portal:container=PortalObject" >
       <property name="PortalObjectContainer" ref="portal:container=TemplatePortalObject"/>
       <property name="Tracker" ref="osivia:service=Tracker"/>
   </bean>
   
   
       <bean class="org.osivia.portal.jpb.services.TemplatePortalObjectContainer"
          id="portal:container=TemplatePortalObject" >
<!-- 
      <property name="PortalAuthorizationManagerFactory" ref="portal:service=PortalAuthorizationManagerFactory"/>
      <property name="AuthorizationDomainRegistry" ref="portal:service=AuthorizationDomainRegistry"/>
      -->
       <property name="Tracker" ref="osivia:service=Tracker"/>      
      <property name="ContentProviderRegistry" ref="portal:service=ContentProviderRegistry"/>
   </bean>
   
   
    <bean class="org.jboss.portal.core.impl.coordination.CoordinationService"
          id="portal:service=CoordinationService" >
       <property name="PortalObjectContainer" ref="portal:container=PortalObject"/>
   </bean>
   
      <bean class="org.jboss.portal.core.impl.model.CustomizationManagerService" id="portal:service=CustomizationManager"
           >
<!--       
      <property name="PortalAuthorizationManagerFactory" ref="portal:service=PortalAuthorizationManagerFactory"/>
-->      
      <property name="InstanceContainer" ref="portal:container=Instance"/>
      <property name="PortalObjectContainer" ref="portal:container=PortalObject"/>
      <!-- <depends>portal:service=Module,type=IdentityServiceController</depends> -->
      <property name="DashboardContextId" value="dashboard" />
   </bean>
   
   
    <!-- The content provider framework -->
   <bean class="org.jboss.portal.core.impl.model.content.ContentProviderRegistryService"
          id="portal:service=ContentProviderRegistry" >
      
   </bean>
   <bean class="org.jboss.portal.core.impl.model.content.portlet.InternalPortletContentProvider"
          id="portal:service=ContentRenderer,type=portlet" >
      
      <property name="ContentType" value="portlet" />
      <property name="Registry" ref="portal:service=ContentProviderRegistry"/>
      <property name="CustomizationManager" ref="portal:service=CustomizationManager"/>
      <property name="InstanceContainer" ref="portal:container=Instance"/>
<!--       
      <property name="PortalAuthorizationManagerFactory" ref="portal:service=PortalAuthorizationManagerFactory"/>
-->   
   </bean>
   
   
    <!-- Command factories -->
   <bean class="org.jboss.portal.core.controller.command.mapper.DelegatingCommandFactoryService"
          id="portal:commandFactory=Delegating" >
    </bean>
   

    
    <bean class="org.osivia.portal.core.pagemarker.PortalCommandFactory"
		id="portal:commandFactory=DefaultPortal">
		
		        <property name="NextFactory" ref="portal:commandFactory=Delegating"/>    
		        <property name="Container" ref="portal:container=PortalObject"/>    

	</bean>
   
    <bean class="org.jboss.portal.core.model.portal.command.mapping.DefaultPortalObjectPathMapper"
          id="portal:service=PortalObjectPathMapper,type=Default" >
      
      <property name="Container" ref="portal:container=PortalObject"/>
      <property name="Namespace" value="" />
   </bean>
   
   
      <bean class="org.jboss.portal.core.model.portal.PortalObjectCommandFactory" id="portal:commandFactory=PortalObject"
           >
      
      <property name="Mapper" ref="portal:service=PortalObjectPathMapper,type=Default"/>
   </bean>

   <bean class="org.jboss.portal.core.controller.command.mapper.CommandFactoryDelegate"
          id="portal:commandFactory=Delegate,path=portal" >
      <property name="Path" value="/portal" />
      <property name="DelegatingFactory" ref="portal:commandFactory=Delegating"/>
      <property name="DelegateFactory" ref="portal:commandFactory=PortalObject"/>
   </bean>
   
   

   
      <!-- URL factories -->
   <bean class="org.jboss.portal.core.controller.command.mapper.DelegatingURLFactoryService"
          id="portal:urlFactory=Delegating" >
      
   </bean>
   <bean class="org.jboss.portal.core.model.portal.PortalObjectURLFactory"
          id="portal:urlFactory=PortalObject,type=Default" >
      
      <property name="Namespace" value="" />
      <property name="Path" value="/portal" />
      <property name="Factory" ref="portal:urlFactory=Delegating"/>
      <property name="Mapper" ref="portal:service=PortalObjectPathMapper,type=Default"/>
   </bean>
   
   
   
   
   
   

 <bean class="org.jboss.portal.portlet.federation.impl.FederatingPortletInvokerService"
          id="portal:service=PortletInvoker,type=Federating" >
   </bean>



   <!-- The classic response handler -->
   <bean class="org.jboss.portal.core.controller.classic.ClassicResponseHandler"
          id="portal:service=ResponseHandler,type=Classic" >
      
   </bean>

   <!-- The ajax response handler -->
   <bean class="org.jboss.portal.core.controller.ajax.AjaxResponseHandler"
          id="portal:service=ResponseHandler,type=Ajax" >
      
      <property name="PageService" ref="portal:service=PageService"/>
      <property name="PortalObjectContainer" ref="portal:container=PortalObject"/>
      <property name="DynamicLayoutService" ref="portal:service=DynamicLayoutService"/>
      
   </bean>

   <!-- The response handler selector -->
   <bean class="org.jboss.portal.core.controller.handler.ResponseHandlerSelector"
          id="portal:service=ResponseHandler,type=Selector" >
      
      <property name="ClassicResponseHandler" ref="portal:service=ResponseHandler,type=Classic"/>
      <property name="AjaxResponseHandler" ref="portal:service=ResponseHandler,type=Ajax"/>
   </bean>

 
   <bean class="org.jboss.portal.portlet.federation.impl.PortletInvokerRegistrationService"
          id="portal:service=PortletInvokerRegistration,id=local">
		<property name="Id" value="local"/>
		<property name="PortletInvoker" ref="ProducerPortletInvoker"/>       
		<property name="FederatingPortletInvoker" ref="portal:service=PortletInvoker,type=Federating"/>   
   </bean>
   
    

	<bean
		class="org.jboss.portal.core.model.portal.control.page.DefaultPageControlPolicy"
		id="portal:service=ControlPolicy,type=Page">

		<property name="PortalObjectContainer" ref="portal:container=PortalObject" />
	</bean>
   
        
     <bean class="org.jboss.portal.core.controller.Controller" id="portal:service=Controller" >
    
      <property name="PageService" ref="portal:service=PageService"/>
      
      <property name="CommandFactory" ref="portal:commandFactory=DefaultPortal"/>
      
      <property name="URLFactory" ref="portal:urlFactory=Delegating"/>

      <property name="StackFactory" ref="portal:service=InterceptorStackFactory,type=Command"/>
      <property name="PortalObjectContainer" ref="portal:container=PortalObject"/>
    
      <property name="InstanceContainer" ref="portal:container=Instance"/>
<!-- 
      <property name="PortalAuthorizationManagerFactory" ref="portal:service=PortalAuthorizationManagerFactory"/>
-->      
      <property name="CustomizationManager" ref="portal:service=CustomizationManager"/>


     <property name="ContentRendererRegistry" ref="portal:service=ContentProviderRegistry"/>
 
       <property name="ResponseHandler" ref="portal:service=ResponseHandler,type=Selector"/>

      <property name="PageControlPolicy" ref="portal:service=ControlPolicy,type=Page"/>
      
       <property name="ContentProviderRegistry" ref="portal:service=ContentProviderRegistry"/>

      <property name="CoordinationManager" ref="portal:service=CoordinationService"/>
<!--     
      <property name="CoordinationConfigurator" ref="portal:service=CoordinationService"/>
      -->
   </bean>
    
    
       <!-- The controller factory -->
   <bean class="org.jboss.portal.server.impl.RequestControllerFactoryImpl" id="portal:service=ControllerFactory">
       <property name="Controller" ref="portal:service=Controller"/>
   </bean>
   
   <bean class="org.jboss.portal.server.impl.ServerImpl" id="portal:service=Server" >
      <property name="Config" ref="portal:service=ServerConfig"/>
      <property name="ServletContainerFactory" ref="ServletContainerFactory"/>
   </bean>
   
   
      <bean class="org.jboss.portal.server.deployment.jboss.ServerDeployer" id="portal:deployer=PortalWebApp">
      <!-- <depends>jboss.system:service=MainDeployer</depends> -->
      <!-- <depends>portal:container=PortalObject</depends> -->
      <!-- <depends>portal:container=Instance</depends> -->
      <property name="PortalServer" ref="portal:service=Server"/>
      <property name="ServletContainerFactory" ref="ServletContainerFactory"/>
      <property name="AppDeployer" ref="PortletApplicationDeployer"/>
   </bean>
   
   
      <bean class="org.jboss.portal.core.impl.portlet.info.CoreInfoBuilderFactory"
          id="portal:service=InfoBuilderFactory,type=Core" >
      
   </bean>
   
   
      <bean class="org.jboss.portal.core.deployment.jboss.PortletAppDeploymentFactory"
          id="portal:deploymentFactory=PortletApp" >
      
      <!-- <depends>portal:service=PortletInvokerRegistration,id=local</depends> -->
      <property name="Deployer" ref="portal:deployer=PortalWebApp"/>
      <property name="CoreInfoBuilderFactory" ref="portal:service=InfoBuilderFactory,type=Core"/>
      <property name="PortletContainerInvoker" ref="ContainerPortletInvoker"/>
      <property name="Config" ref="portal:service=ServerConfig"/>
      <!-- 
      <property name="PortletSecurityService" ref="portal:service=PortletSecurityService"/>
      -->
      <property name="InstanceContainer" ref="portal:container=Instance"/>
      <property name="JBossPortletEntityResolver" ref="portal:service=EntityResolver"/>
      <property name="PortalObjectEntityResolver" ref="portal:service=EntityResolver"/>
      <property name="PortletInstancesEntityResolver" ref="portal:service=EntityResolver"/>
      <property name="StandardJBossApplicationMetaDataLocation" value="conf/standardjboss-portlet.xml" />
      <!-- Set to false in clustered mode, otherwise set to true -->
      <property name="CreateInstances" value="true" />
   </bean>
   
   
   
   <bean class="org.jboss.portal.theme.deployment.jboss.LayoutDeploymentFactory" id="portal:deploymentFactory=Layout">
      <property name="Deployer" ref="portal:deployer=PortalWebApp"/>
      <property name="LayoutService" ref="portal:service=LayoutService"/>
   </bean>
   

   <bean class="org.jboss.portal.theme.deployment.jboss.LayoutFeaturesDeploymentFactory"
          id="portal:deploymentFactory=LayoutFeatures" >
      <property name="Deployer" ref="portal:deployer=PortalWebApp"/>
      <property name="LayoutService" ref="portal:service=LayoutService"/>
   </bean>

   <bean class="org.jboss.portal.theme.deployment.jboss.ThemeDeploymentFactory" id="portal:deploymentFactory=Theme">
      
      <property name="Deployer" ref="portal:deployer=PortalWebApp"/>
      <property name="ThemeService" ref="portal:service=ThemeService"/>
   </bean>

	<!--  CMS -->

   
 	<bean class="org.jboss.portal.core.controller.command.mapper.CommandFactoryDelegate"
		id="osivia:commandFactory=Delegate,path=content">
        <property name="Path" value="/content" />
        <property name="DelegatingFactory" ref="portal:commandFactory=Delegating"/>
        <property name="DelegateFactory" ref="osivia:commandFactory=Content"/>        
	</bean>  
   
   
   	<bean class="org.osivia.portal.core.cms.ViewContentCommandFactoryService"
		id="osivia:commandFactory=Content" >
	</bean>
   
   	<bean class="org.osivia.portal.core.cms.ContentURLFactory" id="osivia:urlFactory=Cms" >
        <property name="Path" value="/content" />
        <property name="Factory" ref="portal:urlFactory=Delegating"/>        
	</bean>
   
   	<bean class="org.osivia.portal.jpb.services.PublicationManager"
		id="osivia:service=PublicationManager" >
	</bean>
   
    
    
</beans>
