<?xml version="1.0" encoding="UTF-8"?>


<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


	<bean class="org.osivia.portal.core.cms.sessions.CMSSessionInterceptor"
		id="portal:service=Interceptor,type=Server,name=CMSSessionInterceptor">
	</bean>

	<bean class="org.osivia.portal.core.tracker.ServerTrackerInterceptor"
		id="osivia:service=Interceptor,type=Server,name=ServerTracker">
		<property name="Tracker" ref="osivia:service=Tracker"/>
	</bean>


	<bean class="org.osivia.portal.core.customization.CustomizationService"
		id="osivia:service=CustomizationService">
	</bean>


	<bean class="org.osivia.portal.core.internationalization.InternationalizationService"
		id="osivia:service=InternationalizationService">
		<property name="CustomizationService" ref="osivia:service=CustomizationService"/>
	</bean>
	
	
	<bean class="org.osivia.portal.core.tracker.TrackerService" name="osivia:service=Tracker"></bean>


	<bean class="org.osivia.portal.core.tracker.CommandTrackerInterceptor"
		id="osivia:service=Interceptor,type=Command,name=CommandTracker">
		<property name="Tracker" ref="osivia:service=Tracker"/>
	</bean>
	
	
	<bean class="org.osivia.portal.core.window.WindowThemingInterceptor"
		id="osivia:service=Interceptor,type=Command,name=WindowTheming">
	</bean>	
	

    <bean class="org.jboss.portal.core.controller.command.mapper.CommandFactoryDelegate"
		id="wwa:commandFactory=Delegate,path=Default">
        <property name="Path" value="/command" />
        <property name="DelegatingFactory" ref="portal:commandFactory=Delegating"/>
        <property name="DelegateFactory" ref="osivia:commandFactory=Default"/>        
	</bean>  
   
   
   <bean class="org.osivia.portal.core.portalcommands.PortalCommandFactory"
		id="portal:commandFactory=DefaultPortal">
		
		        <property name="NextFactory" ref="portal:commandFactory=Delegating"/>    
		        <property name="Container" ref="portal:container=PortalObject"/>    

	</bean>
   
   
   	<bean class="org.osivia.portal.core.portalcommands.DefaultCommandFactoryService"
		id="osivia:commandFactory=Default" >
	</bean>
    
     <bean class="org.osivia.portal.core.portalcommands.DefaultURLFactory" id="osivia:urlFactory=Default" >
        <property name="Path" value="/command" />
        <property name="Factory" ref="portal:urlFactory=Delegating"/>        
	</bean>
	
	   <!-- The ajax response handler -->
   <bean class="org.osivia.portal.core.ajax.AjaxResponseHandler"
          id="portal:service=ResponseHandler,type=Ajax" >
      
      <property name="PageService" ref="portal:service=PageService"/>
      <property name="PortalObjectContainer" ref="portal:container=PortalObject"/>
      <property name="DynamicLayoutService" ref="portal:service=DynamicLayoutService"/>
      
   </bean>
    
    
   <bean class="org.osivia.portal.core.portlets.interceptors.ParametresPortletInterceptor"
          id="osivia:service=Interceptor,type=Portlet,name=ParametresPortletInterceptor" >
   </bean>
   
   
      
   	<bean class="org.osivia.portal.core.content.PublicationManager"
		id="osivia:service=PublicationManager" >
	</bean>
	

	
   <!-- The different containers -->	
      
       <bean class="org.osivia.portal.core.container.persistent.StaticPortalObjectContainer"
          id="portal:container=TemplatePortalObject" >
<!-- 
      <property name="PortalAuthorizationManagerFactory" ref="portal:service=PortalAuthorizationManagerFactory"/>
      <property name="AuthorizationDomainRegistry" ref="portal:service=AuthorizationDomainRegistry"/>
      -->
       <property name="Tracker" ref="osivia:service=Tracker"/>      
      <property name="ContentProviderRegistry" ref="portal:service=ContentProviderRegistry"/>
   </bean>
   
       
       
    <bean class="org.osivia.portal.core.container.dynamic.DynamicPortalObjectContainer"
          id="portal:container=PortalObject" >
       <property name="PortalObjectContainer" ref="portal:container=TemplatePortalObject"/>
       <property name="Tracker" ref="osivia:service=Tracker"/>
   </bean>
   
       
       
    <!--  content -->

   
 	<bean class="org.jboss.portal.core.controller.command.mapper.CommandFactoryDelegate"
		id="osivia:commandFactory=Delegate,path=content">
        <property name="Path" value="/content" />
        <property name="DelegatingFactory" ref="portal:commandFactory=Delegating"/>
        <property name="DelegateFactory" ref="osivia:commandFactory=Content"/>        
	</bean>  
   
   
   	<bean class="org.osivia.portal.core.content.ViewContentCommandFactoryService"
		id="osivia:commandFactory=Content" >
	</bean>
   
   	<bean class="org.osivia.portal.core.content.ContentURLFactory" id="osivia:urlFactory=Cms" >
        <property name="Path" value="/content" />
        <property name="Factory" ref="portal:urlFactory=Delegating"/>        
	</bean>

   	<bean class="org.osivia.portal.core.portlets.interceptors.ConsumerCacheInterceptor" id="osivia:service=Interceptor,type=Portlet,name=ConsumerCache" >
     
	</bean>


       
       
</beans>
