
.file-import {opacity:0;     position: absolute; width: 100px}

.file-merge {opacity:0;     position: absolute; }

.cms-edition-draggable {   
	max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 8px; /* for resource-selector we need to see the bottom part */  
}

.ui-draggable-dragging{
    z-index: 10000;
}