
.file-import {opacity:0;     position: absolute; width: 100px}

.file-merge {opacity:0;     position: absolute; }

.cms-edition-draggable {   
	max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 8px; /* for resource-selector we need to see the bottom part */  
}

.ui-draggable-dragging{
    z-index: 10000;
}

.browse .fancytree-title    {
	width: 100%;
}

.browse.single-list .fancytree-title  .page-id  {
    min-width: 600px;
}

.browse.single-list .fancy-scrollable  {
    min-width: 1000px;

}


.browse.double-list .fancytree-title  .page-id  {
    min-width: 600px;
}

.browse.double-list .fancy-scrollable  {
    min-width: 900px;
}



