  
#toolbar	{
  	.portlet-container	{
  		margin: 0;
  }
}

.portlet-container	{
	 margin: map_get($spacers, 3);
	 &.gris	{
	 	background-color : $secondary;
	 }
}



.edition {

  background-color : $secondary;
  
  a { 
  	color : $white !important;
    :hover {
	  		color : $white !important
	  	}  	
    :active {
	  		color : $white !important
	  	}
    :visited {
	  		color : $white !important
	  	}	  		  	
   	.glyphicons	{
   		color : $white !important
 	
   	}	
   }
  
  
  
  .btn-group {
  	a.btn-light	{
	  	color : $black !important;
	    :hover {
		  		color : $black !important
		} 	  	
   	
	}
  }
  
  .dropdown-menu	{
	background-color : $secondary !important;
  }

  .dropdown-item	{
	background-color : $secondary !important;
  }
}



